html, body {
  height: 100%;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.4285em;
}

.full.height {
  height: 100%;
}

.error {
  color: red;
}

h2.login-header {
  margin-bottom: 35px;
  font-size: 1.71428571rem;
  display: inline-block;
  width: 100%;
  text-align: center;

  img.image {
    height: 2.5em;
    width: auto;
    display: inline-block;

   @media (max-width: 600px) {
      margin-bottom: 20px;  
   }
  }

  img.image + .content {
    padding-left: 0.75rem;
    text-align: left;
    display: inline-block;
    vertical-align: bottom;

    > h5 {
      margin: 0;
      margin-top: 10px;
      font-size: 1rem;
    }
  }
}

.ui.registration {
  > a {
    padding-left: 5px;
  }
}

.signup-guidance {
  padding: 15px;
  background-color: #eef2f7;
  margin-bottom: 10px;
  border-radius: 5px;

  > a {
    margin-left: 5px;
  }
}

.siimple-form.login-fields {
  margin-bottom: 40px;
}

.vertically-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hide-sm {
  @media (max-width: 600px) {
    display: none !important;
  }
}

.centered-sm {
  @media (max-width: 600px) {
    text-align: center !important;
  }
}